<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi"
        crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/vue/2.0.3/vue.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>

    <div id="login" class="col-xs-8 col-sm-6 col-md-4">
        <div class="clearfix login-nav">
            <ul class="list-unstyled clearfix">
                <li v-bind:class="{active:panelin}" v-on:click="signin">登录</li>
                <li v-bind:class="{active:panelup}" v-on:click="signup">注册</li>
                <span v-bind:class="{'login-nav-slider1':panelin,'login-nav-slider2':panelup}" class="login-nav-slider"></span>
            </ul>
        </div>
        <div v-show="panelin">
            <form action="/login" method="post" class="form-horizontal" role="form">
                <div class="form-group">
                    <input type="text" name="name" placeholder="用户名" class="form-control" autofocus />
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="密码" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="登录" class="btn btn-primary btn-block" />
                </div>
            </form>
        </div>
        <div v-show="panelup">
            <form action="/logup" method="post" class="form-horizontal" role="form">
                <div class="form-group">
                    <input type="text" name="name" placeholder="用户名" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="邮箱" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="密码" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="注册" class="btn btn-primary btn-block" />
                </div>
            </form>
        </div>
    </div>
    <script src="js/login.js"></script>
</body>

</html>