{% extends "base.html" %} {% block head %} {% endblock %} {% block connect %}
<!--<nav class="navbar navbar-light bg-faded mb-1">
    <a class="navbar-brand" href="#">Blog</a>
    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">碎碎念</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">日志</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Gist</a>
        </li>
        {% if name %}
        <li class="nav-item float-xs-right">
            <a class="nav-link" href="/logout">{{name}} 退出</a>
        </li>
        {% else %}
        <li class="nav-item float-xs-right">
            <a class="nav-link" href="/login">登录</a>
        </li>
        {% endif %}
    </ul>
</nav>-->


<div>
    <form action="/user/{{name}}/mood/{{index}}" method="post">
        <textarea rows="5" cols="60" name="mood" placeholder="What's on your mind?'" class="form-control"></textarea>
        <p class="clearfix mt-1">
            <input type="submit" value="发布" class="btn btn-primary float-xs-right" />
        </p>
    </form>
</div>
{% for item in data %}
<!--{% if loop.index != 11 %}-->
<div class="modal-content my-1">
    <div class="modal-header">
        <h5>
        {{item.name}}
            <small class="text-muted">{{item.createDate.toLocaleString("chinese",{timeZone: "Asia/Shanghai"})}}</small> 
            {% if name==item.name %}
                <input type="button" class="btn btn-sm float-xs-right mr-1 del" data-id="{{item._id}}" value="删除" />
            {% endif %}
        </h5>
    </div>
    <div class="modal-body">
        {{ item.mood }}
    </div>
</div>
<!--{% endif %} -->
{% endfor %}

<p class="clearfix">
    {% if index==1 %}
    <a href="#" class="btn btn-primary btn-sm float-xs-left disabled">&larr; Older</a> 
    {% else %}
    <a href="/user/{{name}}/mood/{{index - 1 }}" class="btn btn-primary btn-sm float-xs-left">&larr; Older</a> 
    {% endif %}
    {% if length!=11 %}
    <a href="#" class="btn btn-primary btn-sm float-xs-right disabled">Newer &rarr;</a> 
    {% else %}
    <a href="/user/{{name}}/mood/{{index + 1 }}" class="btn btn-primary btn-sm float-xs-right">Newer &rarr;</a> {% endif
    %}
</p>

<script src="/js/mood.js"></script> 
{% endblock %}