body {
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
}

.show {
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fdfdfd;
}